@font-face {
    font-family: "Xolonium Regular";
    src: url("/home-assets/fonts/xolonium.regular.otf");
}

body {
    background-color: rgb(24, 23, 30);
    font-family: 'Lucida Console';
    color: white;
}

div {
    margin: auto;
    width: 50%;
    padding: 10px;
}

h1 {
    font-family: "Xolonium Regular";
    align-self: center;
    color: rgb(96, 162, 233);
    font-size: 40px;
}

.h1-sub {
    font-size: 30px;
    color: rgb(115, 112, 179);
    text-align: right;
}

ul {
    padding-left: 50px;
}

p {
    padding: 10px;
}

a:link {
    color: lightblue;
}

a:visited {
    color: rgb(187, 31, 187)
}

.main-content {

}

.header {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgb(34, 41, 77);
}