@font-face {
    font-family: "FSSinclair";
    src: url("/hd2Randomiser/fonts/FS\ Sinclair\ Medium.otf");
}

@font-face {
    font-family: "Swiss721";
    src: url("/hd2Randomiser/fonts/Swiss\ 721\ Extended\ Bold.otf");
}

body {
    font-family: "FSSinclair";
    background-color: rgb(37, 37, 37);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stratagems, .primary, .secondary, .grenade, .header, .warbonds {
    margin: 20px;
    border: 3px solid #FFE710;
    padding: 20px;
    background-color:#565353;
}

.container {
    background-color:#353333;
    width: 750px;
}

.header p {
    padding-top: 10px;
}

.header span {
    font-size: 14px;
    color: rgb(209, 209, 209);
}

#randomise {
    padding: 10px;
    width: 300px;
}

#randomise-stratagems {
    padding: 5px;
}

#stratagem-no {
    padding: 5px;
}

#specific-stratagems > p {
    padding-bottom: 10px;
    font-style: italic; 
    margin-top: 30px;
}

#stratagems-choice > p, #primary-choice > p 
#secondary-choice > p, #grenade-choice > p {
    padding-top: 10px;
}

div {
    text-align: center;
}

h1, h2, h3 {
    font-family: "Swiss721";
    padding: 5px;
}

h1 {
    font-size: 40px;
    text-decoration: underline;
}

h2 {
    margin-bottom: 5px;
    font-size: 30px;
}

h3 {
    font-size: 25px;
}

p {
    font-size: 18px;
}

br {
    margin-bottom: 10px;
}

footer {
    padding: 20px;
    margin: 20px;
}