/* GENERAL ELEMENTS */
body {
    font-family: 'Lucida Console';
    background-color: #080d1d;
    margin: 0px;
    padding: 0px;
    color: white;
}


/* ELEMENTS WITH IDS */
#body {
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

#warning-button {
    
}

/* CLASS ELEMENTS */
.warning {
    background-color: #252A3B;
    padding: 25px;
    text-align: center;
    margin: auto;
    width: 40%;
}

.header-container {
    margin-top: 10px;
    padding: 5px 0px;
    display: flex;
    align-self: center;
    width: 92vw;
    vertical-align: center;
    align-items: center;
    background-color: #252A3B;
    flex-direction: row;
}

.main-body {
    align-self: flex-end;
    margin: auto;
    margin-top: 15px;
    height: 80vh;
    width: 92vw;
}

.sidebar {
    display: inline-block;
    background-color: #252A3B;
    width: 25%;
    height: inherit;
    overflow: auto;
}

.showcase-container {
    float: right;
    width: 72.5%;
    max-width: 72.5%;
    background-color: #252A3B;
    overflow: auto;
    height: inherit;
}

.showcase-text {
    display: block;
    padding: 25px;
}

.rift-watch-icon {
    padding: 10px 10px 10px 30px;
}

.rift-watch-top-text {
    font-weight: bold;
    padding: 0px 15px;
}

/* COMMON CLASSES FOR STYLISING */
.center { /* for images */
    display: block;
    margin-left: auto;
    margin-right: auto;
}
