/* GENERAL ELEMENTS */
body {
    font-family: 'Lucida Console';
    background-color: #080d1d;
    margin: 0px;
    padding: 0px;
    color: white;
}


/* ELEMENTS WITH IDS */
#body {
    display: flex;
    overflow: hidden;
    height: 100vh;
}

#warning-button {
    
}

/* CLASS ELEMENTS */
.warning {
    background-color: #252A3B;
    padding: 25px;
    text-align: center;
    margin: auto;
    width: 40%;
}

.header-container {
    padding: 10px;
    margin: 10px 10px;
    display: flex;
    vertical-align: center;
    align-items: center;
    background-color: #252A3B;
    flex-direction: row;
}

.rift-watch-icon {
    padding: 10px;
}

.rift-watch-top-text {
    padding: 0px 15px;
}


